#content-page {
    margin-left: 10%;
    margin-right: 10%;
}

#myTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myTable td, #myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#myTable tr:nth-child(even){background-color: #f2f2f2;}

#myTable tr:hover {background-color: #ddd;}

#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightblue;
  color: white;
}

header {
	background-size: cover;
	background-position: center;
	width: 100%;
}

.BottomText {
	text-align: center;
	padding: 2%;
	color: white;
	font-size: 18px;
}

#footerHeader {
	background-color: #282828;
	height: 10vh;
	position: relative;
}