<!DOCTYPE html>
<html lang="en">
	<head>
		<title>HackMIT</title>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/visualize.css') }}">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body>
        <div id="content-page">
            <h1>Results</h1>

            <h4>Annotated Transcript</h4>
            {{ annotated_transcript | safe }}

            <br><br>
            <h4>Details</h4>
            {% for item in disease_info %}
                <p>{{ item['name'] }}</p>
                <p>{{ item['description'] }}</p>

                Recommended Precautions:
                <ul>
                {% for s in item['precautions'] %}
                    <li>{{ s }}</li>
                {% endfor %}
                </ul>
                
            {% endfor %}
        </div>

    </body>
</html>